/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
margin: 0px;
padding: 0px;
}

#logo_t { 
	width: 477px;
	padding: 34px 0px 0px 25px;
	font: 11px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#logo_t p { padding: 6px 0px 0px 0px; font-size: 18px;}

#logo_t2 { 
	font: bold 28px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	
}

a:link {
	color: #4DA0C6;
}

a:hover {
	text-decoration: underline;
	color: #FF0000;
}

a:visited {
	color: #4DA0C6;
}

body {
	
	background: #CACBC6 url(images/top_bg.jpg) repeat-x 0px -45px;
	font: 13px Arial, Helvetica, sans-serif;
	color: #000000;
}

#content
{
	margin: 0 auto;
	width: 755px;
	text-align: left;	
    position: relative;
    top: 15px;
}

#main
{
width: 755px;
padding-top: 14px;
}


#header {

}

#logo {

width: 100%;
height: 170px;
text-align: left;
background: url(images/oduvan.jpg) no-repeat;	
}


#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #8793A5;
}
#logo h2 a
{
font-size: 10px;
text-transform: uppercase;
}


#menu
{
margin: 0 auto;
width: 755px;
height: 34px;
margin-top: 10px;
margin-bottom: 9px;
padding-top: 0px;
padding-left: 0px;
background: url(images/but.jpg);
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 151px;
	height: 24px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

#menu a:hover {
	width: 151px;
	height: 24px;
	color: #68C1EA;
	text-decoration: underline;
	background: url(images/but_h.jpg) top no-repeat;
}




#left
{
	width: 242px;
	margin-left: 0px;
	background:#FFFFFF;
	padding: 6px 0px 0px 6px;
	border-radius: 5px;
}

.titl_left
{
width: 213px;
height: 23px;
padding-top: 8px;
font-size: 14px;
font-weight: bold;
padding-left: 21px;
text-transform: uppercase;
color: #ffffff;
background: url(images/title.jpg) repeat-x;
margin: 0px 0px 0px 0px;
}

#left ul {
	list-style: none;
	margin-bottom: 10px;
}


#left li ul {
	border: 0px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top: 15px;
	background: none;
}

#left li {
	margin: 10px 10px;
}

#left a {
    font-size: 14px;
	color: #4DA0C6;
	text-decoration: none;
}

#left a:hover {
	color: #4DA0C6;
	text-decoration: underline;
}

#left a:visited {
	color: #4DA0C6;
}


.ug {
	background: url(images/title_b.jpg) 0px 2px  no-repeat;
	padding: 30px 10px;
}

#calendar {
	background: url(images/title_b.jpg) 0px 2px no-repeat ;
}

#calendar1 {
	padding: 20px 10px 20px 10px;
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {

}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid #ff0000;
	font-weight: bold;
	color: #ffffff
}

#right
{
float: right;
width: 490px;
padding: 6px 0px 0px 6px;
background: url(images/titl2_b.jpg) 6px 40px no-repeat  #FFFFFF;
margin: 0px 0px 0px 7px;
border-radius: 5px;
min-height: 500px;
}

#right h4
{	
	margin: 0;
	font-size: 12px;
	color: #4DA0C6;
	padding-left: 1px;
    position: relative;
    top: -5px;
}

#right a
{
color: #4DA0C6;
text-decoration: none;
}

#right a:hover
{
color: #4DA0C6;
text-decoration: underline;
}

#right a:visited
{
color: #4DA0C6;
text-decoration: none;
}

#right p {
	margin: 0;
	padding: 0px 10px 0px 10px;
	padding-bottom: 10px;
}

#right h2 {
	height: 27px;
	padding: 5px 0px 0px 20px;
	margin: 0;
	color: #ffffff;
	background: url(images/titl2.jpg) no-repeat;
	font-size: 18px;
}

#right ol, #right ul
{
margin-left: 30px;
}


.date {
	text-align: right;
	color: #4DA0C6;
	font-size: 11px;
}

.date a {
	color: #4DA0C6;
}



#footer {
	height: 48px;
	clear: both;
	padding-top: 20px;
	background: url(images/bot_bg.jpg) repeat-x;
	margin-top:10px;
}

#footer p {
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}